__pycache__/
/data/
sim.egg-info/
requirements/

test.py
nohup.out
requirements.txt
setup.py

# /work_dirs/
# /render_out/
# /predict/
# !*.log

*.tga
*.pkl
*.pth
!tga.pth
*.json
*.pt